<%= content_for(:page_heading) do %>
  <% if current_user && current_user.is_admin %>
    <div class="flex justify-between items-center">
      <h1 class="text-4xl font-bold"> <%= @course.name %>  </h1>
      <div class="flex">
        <%= link_to "Edit", edit_course_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>
  <% else %>
    <!--    <h1 class="text-4xl font-bold"> <%#= @course.name %>  </h1>-->
  <% end %>
<% end %>


<div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
  <div class="relative py-16 bg-white overflow-hidden">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
      <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
        <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"/>
        </svg>
        <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"/>
        </svg>
        <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"/>
        </svg>
      </div>
    </div>

    <div class="relative px-4 sm:px-6 lg:px-8">

      <div class="text-lg max-w-prose mx-auto">
        <h1>
          <!--        <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">Introducing</span>-->
          <span class="mt-2 block text-4xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"> <%= @course.name %> </span>
        </h1>
        <p class="mt-8 text-2xl text-gray-500 leading-10 mb-8">
          <%= @course.summary %>
        </p>
      </div>

      <div class="relative">
        <article id="article-desc" class="line-clamp-14 mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto overflow-hidden">
          <%= markdown(@course.description) %>
        </article>

        <div id="article-overlay" class="w-full absolute bottom-0 pt-32 flex justify-center bg-gradient-to-t from-white">
          <button id="show-article" class="relative bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 text-sm text-white font-semibold h-12 px-6 rounded-lg flex items-center dark:bg-slate-700 dark:hover:bg-slate-600 pointer-events-auto">
            show more
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


  <%= render "topic/list", topics: @course.topics %>


<script>

    document.getElementById("show-article").onclick = () => {
        document.getElementById("article-overlay").classList.toggle("hidden");
        document.getElementById("article-desc").classList.toggle("line-clamp-14");
    }

</script>